* {
    margin: 0;
    padding: 0;
}
    
#page {
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: #DEE1E6;
}

#page .element {
    width: 50%;
    height: 100px;
    margin: 0 auto;
    margin-top: 40px;
    background-color: rgb(143 142 140);
}

